In [3]:
import json
import os
import pandas as pd
import datetime
import numpy as np

In [4]:
DATASET_FOLDER = "./dataset"
train_processed_data = os.path.join(DATASET_FOLDER, 'processed/sku_feature_data.parquet')
test_data = os.path.join(DATASET_FOLDER, 'test_data.csv')

In [5]:
df_train_v1 = pd.read_parquet(train_processed_data, engine='fastparquet')
df_train_v1 = df_train_v1.set_index('sku')

In [6]:
df_test = pd.read_csv(test_data)

In [41]:
df_train_on_test = df_train_v1.loc[df_test['sku']]

In [8]:
df_train_on_test.describe(include='all').transpose()

/opt/conda/envs/torch/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.
/opt/conda/envs/torch/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
item_domain_id,551470,8243,MLB-SUPPLEMENTS,12032,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_id,551472,NaN,NaN,NaN,NaT,NaT,259013,149412,0,129796,259092,388294,517895
item_title,551472,407133,Case Acrigel iPhone Galaxy Huawei Xiaomi Moto ...,164,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
site_id,551472,3,MLB,281298,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,22859,13443,MLB6125887,28,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_family_id,66451,25983,MLB12287867,183,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
count,551472,NaN,NaN,NaN,NaT,NaT,56.7289,8.64205,1,59,59,59,59
date_first,551472,59,2021-02-01 00:00:00,500404,2021-02-01,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_last,551472,1,2021-03-31 00:00:00,551472,2021-03-31,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_diff,551472,NaN,NaN,NaN,NaT,NaT,55.7289,8.64205,0,58,58,58,58
sold_quantity_first,551472,NaN,NaN,NaN,NaT,NaT,0.927949,11.7502,0,0,0,0,3644
sold_quantity_last,551472,NaN,NaN,NaN,NaT,NaT,1.16318,8.15049,0,0,0,1,1982
sold_quantity_sum,551472,NaN,NaN,NaN,NaT,NaT,57.9207,442.711,0,10,19,40,137528
sold_quantity_mean,551472,NaN,NaN,NaN,NaT,NaT,1.00985,7.58665,0,0.170213,0.322034,0.711864,2330.98
sold_quantity_std,550920,NaN,NaN,NaN,NaT,NaT,1.47498,7.32215,0,0.471886,0.709788,1.25898,1459.8
sold_quantity_min,551472,NaN,NaN,NaN,NaT,NaT,0.0229259,1.5554,0,0,0,0,886
sold_quantity_max,551472,NaN,NaN,NaN,NaT,NaT,6.95899,37.7742,0,2,3,6,6951
sold_quantity_mode,551472,NaN,NaN,NaN,NaT,NaT,0.159754,3.89943,0,0,0,0,1678
sold_quantity_mode_tx,551472,NaN,NaN,NaN,NaT,NaT,0.735851,0.194442,0.0169492,0.644068,0.79661,0.864407,1
current_price_first,551472,NaN,NaN,NaN,NaT,NaT,4648.15,1.90544e+06,0.89,48.97,119,299,1e+09
current_price_last,551472,NaN,NaN,NaN,NaT,NaT,2628.74,1.34754e+06,0.89,48.89,119,298,1e+09
current_price_sum,551472,NaN,NaN,NaN,NaT,NaT,151283,7.94913e+07,1.93,2695.71,6484.1,17403,5.9e+10
current_price_mean,551472,NaN,NaN,NaN,NaT,NaT,2774.35,1.34824e+06,0.89,48.6508,118.476,299,1e+09
current_price_std,550920,NaN,NaN,NaN,NaT,NaT,409.6,206788,0,7.16642e-15,1.96037,9.19986,1.52499e+08
current_price_min,551472,NaN,NaN,NaN,NaT,NaT,2585.07,1.34754e+06,0.89,45,106.9,289,1e+09
current_price_max,551472,NaN,NaN,NaN,NaT,NaT,4807.43,1.90589e+06,0.89,49.9,127,319.2,1e+09
current_price_mode,551472,NaN,NaN,NaN,NaT,NaT,2756.93,1.34841e+06,0.89,49,119,299,1e+09
current_price_mode_tx,551472,NaN,NaN,NaN,NaT,NaT,0.732237,0.257756,0.0338983,0.525424,0.763158,1,1
minutes_active_first,551472,NaN,NaN,NaN,NaT,NaT,962.726,648.38,0,0,1440,1440,1440
minutes_active_last,551472,NaN,NaN,NaN,NaT,NaT,1153.29,559.689,0,1440,1440,1440,1440
minutes_active_sum,551472,NaN,NaN,NaN,NaT,NaT,61604.5,24132.8,0,45473.8,69265.7,84074,84960
minutes_active_mean,551472,NaN,NaN,NaN,NaT,NaT,1080.75,389.704,0,840.812,1216.92,1426.33,1440
minutes_active_std,550920,NaN,NaN,NaN,NaT,NaT,385.107,274.901,0,50.1308,462.905,649.885,1003.59
minutes_active_min,551472,NaN,NaN,NaN,NaT,NaT,385.415,606.448,0,0,0,883.064,1440
minutes_active_max,551472,NaN,NaN,NaN,NaT,NaT,1418.05,171.876,0,1440,1440,1440,1440
minutes_active_mode,551472,NaN,NaN,NaN,NaT,NaT,1156.89,571.839,0,1440,1440,1440,1440
minutes_active_mode_tx,551472,NaN,NaN,NaN,NaT,NaT,0.80573,0.174364,0.0714286,0.661017,0.847458,0.983051,1
currency_first,551472,4,REA,281298,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_last,551472,4,REA,281298,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_mode,551472,4,REA,281298,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_mode_tx,551472,NaN,NaN,NaN,NaT,NaT,1,4.56474e-05,0.966102,1,1,1,1
listing_type_first,551472,2,premium,276601,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_last,551472,2,classic,283659,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_mode,551472,2,classic,277876,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_mode_tx,551472,NaN,NaN,NaN,NaT,NaT,0.983636,0.0714636,0.5,1,1,1,1
shipping_logistic_type_first,551472,3,fulfillment,404596,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_last,551472,3,fulfillment,505967,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_mode,551472,3,fulfillment,479789,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_mode_tx,551472,NaN,NaN,NaN,NaT,NaT,0.916043,0.142902,0.333333,0.864407,1,1,1
shipping_payment_first,551472,2,paid_shipping,369742,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_last,551472,2,paid_shipping,359044,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_mode,551472,2,paid_shipping,374447,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_mode_tx,551472,NaN,NaN,NaN,NaT,NaT,0.977907,0.086192,0.5,1,1,1,1
sold_quantity_series,551472,514917,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",14307,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_train_on_test['count'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

59    90.74%
56     0.35%
58     0.31%
57     0.29%
49     0.27%
55     0.27%
27     0.26%
50     0.25%
36     0.25%
35     0.24%
43     0.24%
48     0.24%
52     0.23%
51     0.23%
42     0.22%
37     0.22%
28     0.22%
29     0.22%
38     0.21%
44      0.2%
30      0.2%
34      0.2%
41     0.19%
31     0.19%
45     0.19%
21     0.18%
22     0.18%
24     0.17%
23     0.16%
14     0.15%
20     0.15%
10     0.15%
54     0.15%
16     0.14%
15     0.14%
9      0.13%
17     0.13%
8      0.12%
13     0.12%
6      0.11%
7      0.11%
47     0.11%
2       0.1%
1       0.1%
3       0.1%
53     0.09%
33     0.09%
40     0.08%
26     0.08%
19     0.07%
32     0.07%
39     0.06%
25     0.06%
12     0.06%
46     0.06%
18     0.05%
5      0.04%
11     0.04%
4      0.03%
Name: count, dtype: object

In [12]:
bad_df = df_train_v1.index.isin(df_test['sku'])
df_train_not_on_test = df_train_v1.loc[~bad_df]

In [14]:
len(df_train_not_on_test)/len(df_train_v1)

0.16559441744487954

In [16]:
df_train_not_on_test.describe(include='all').transpose()

/opt/conda/envs/torch/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.
/opt/conda/envs/torch/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
item_domain_id,109443,5837,MLB-SUPPLEMENTS,1606,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_id,109444,NaN,NaN,NaN,NaT,NaT,259791,149611,1,130212,259818,389503,517866
item_title,109444,89624,Capa Capinha Com Logo iPhone 5 6 7 8 Plus X Xr...,82,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
site_id,109444,3,MLB,55036,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,6809,4979,MLM15283838,18,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_family_id,16733,9479,MLB12287867,79,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
count,109444,NaN,NaN,NaN,NaT,NaT,58.2568,4.17247,3,59,59,59,59
date_first,109444,56,2021-02-01 00:00:00,103826,2021-02-01,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_last,109444,1,2021-03-31 00:00:00,109444,2021-03-31,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_diff,109444,NaN,NaN,NaN,NaT,NaT,57.2568,4.17247,2,58,58,58,58
sold_quantity_first,109444,NaN,NaN,NaN,NaT,NaT,1.14768,7.53307,0,0,0,1,1168
sold_quantity_last,109444,NaN,NaN,NaN,NaT,NaT,0.0999598,1.77009,0,0,0,0,467
sold_quantity_sum,109444,NaN,NaN,NaN,NaT,NaT,48.8425,127.863,5,17,25,44,14700
sold_quantity_mean,109444,NaN,NaN,NaN,NaT,NaT,0.847821,2.2107,0.20339,0.288136,0.423729,0.762712,249.153
sold_quantity_std,109444,NaN,NaN,NaN,NaT,NaT,1.79367,4.62067,0.405975,0.696069,0.987354,1.64229,638.043
sold_quantity_min,109444,NaN,NaN,NaN,NaT,NaT,1.82742e-05,0.00427481,0,0,0,0,1
sold_quantity_max,109444,NaN,NaN,NaN,NaT,NaT,8.84934,26.8559,1,3,5,8,4901
sold_quantity_mode,109444,NaN,NaN,NaN,NaT,NaT,0.00995943,0.259205,0,0,0,0,28
sold_quantity_mode_tx,109444,NaN,NaN,NaN,NaT,NaT,0.749948,0.128475,0.0508475,0.694915,0.779661,0.830508,0.983051
current_price_first,109444,NaN,NaN,NaN,NaT,NaT,1783.26,304611,0.87,49,123.97,329,1e+08
current_price_last,109444,NaN,NaN,NaN,NaT,NaT,748.426,7455.81,0.87,48,119.97,302.192,1.46678e+06
current_price_sum,109444,NaN,NaN,NaN,NaT,NaT,49030.4,2.45689e+06,42,2826.1,7033.82,18331.6,8.0013e+08
current_price_mean,109444,NaN,NaN,NaN,NaT,NaT,853.475,41659.1,0.87,48.471,120.265,317.308,1.35615e+07
current_price_std,109444,NaN,NaN,NaN,NaT,NaT,453.695,105297,0,7.16642e-15,2.29066,10.4824,3.45286e+07
current_price_min,109444,NaN,NaN,NaN,NaT,NaT,627.624,3436.76,0.87,44.9,109,297.5,204999
current_price_max,109444,NaN,NaN,NaN,NaT,NaT,1961.54,304843,0.87,49.99,129.99,350,1e+08
current_price_mode,109444,NaN,NaN,NaN,NaT,NaT,701.715,4971.5,0.87,48.9,119.99,308.08,1e+06
current_price_mode_tx,109444,NaN,NaN,NaN,NaT,NaT,0.732239,0.254291,0.0508475,0.525424,0.762712,1,1
minutes_active_first,109444,NaN,NaN,NaN,NaT,NaT,1000.49,641.348,0,0,1440,1440,1440
minutes_active_last,109444,NaN,NaN,NaN,NaT,NaT,298.295,564.807,0,0,0,0,1440
minutes_active_sum,109444,NaN,NaN,NaN,NaT,NaT,48629,23035.2,51.5216,29875,49065,68498.7,84960
minutes_active_mean,109444,NaN,NaN,NaN,NaT,NaT,833.969,388.857,0.873248,519.36,846.951,1170.69,1440
minutes_active_std,109444,NaN,NaN,NaN,NaT,NaT,555.083,179.504,0,477.726,627.548,690.784,744.197
minutes_active_min,109444,NaN,NaN,NaN,NaT,NaT,56.1394,236.796,0,0,0,0,1440
minutes_active_max,109444,NaN,NaN,NaN,NaT,NaT,1437.97,38.727,42.9479,1440,1440,1440,1440
minutes_active_mode,109444,NaN,NaN,NaN,NaT,NaT,851.539,707.882,0,0,1440,1440,1440
minutes_active_mode_tx,109444,NaN,NaN,NaN,NaT,NaT,0.711014,0.150523,0.166667,0.576271,0.694915,0.830508,1
currency_first,109444,4,REA,55036,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_last,109444,4,REA,55036,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_mode,109444,4,REA,55036,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_mode_tx,109444,NaN,NaN,NaN,NaT,NaT,1,5.12333e-05,0.983051,1,1,1,1
listing_type_first,109444,2,premium,56166,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_last,109444,2,classic,55368,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_mode,109444,2,premium,54999,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_mode_tx,109444,NaN,NaN,NaN,NaT,NaT,0.984682,0.0689751,0.5,1,1,1,1
shipping_logistic_type_first,109444,3,fulfillment,84905,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_last,109444,3,fulfillment,83784,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_mode,109444,3,fulfillment,96567,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_mode_tx,109444,NaN,NaN,NaN,NaT,NaT,0.896086,0.154963,0.333333,0.79661,1,1,1
shipping_payment_first,109444,2,paid_shipping,69051,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_last,109444,2,paid_shipping,68212,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_mode,109444,2,paid_shipping,71081,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_mode_tx,109444,NaN,NaN,NaN,NaT,NaT,0.975671,0.090073,0.5,1,1,1,1
sold_quantity_series,109444,109390,"[9, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_train_not_on_test['count'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

59    94.87%
56     0.47%
58      0.4%
57     0.28%
48     0.27%
55     0.25%
50     0.22%
51     0.22%
52     0.22%
49     0.22%
42     0.17%
41     0.14%
45     0.14%
44     0.14%
43     0.14%
54     0.13%
38     0.12%
31     0.12%
36     0.12%
34     0.11%
37     0.11%
30      0.1%
35      0.1%
29     0.09%
53     0.07%
24     0.07%
28     0.07%
47     0.06%
27     0.05%
21     0.04%
20     0.04%
40     0.04%
39     0.04%
23     0.04%
22     0.04%
33     0.03%
32     0.03%
46     0.03%
17     0.02%
19     0.02%
15     0.02%
13     0.02%
26     0.02%
16     0.02%
25     0.02%
10     0.01%
14     0.01%
8      0.01%
9      0.01%
7      0.01%
12     0.01%
18      0.0%
6       0.0%
3       0.0%
11      0.0%
5       0.0%
Name: count, dtype: object

In [68]:
describ_test = df_train_on_test.describe(include='all')
describ_train_only = df_train_not_on_test.describe(include='all')

/opt/conda/envs/torch/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.
/opt/conda/envs/torch/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.
/opt/conda/envs/torch/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

/opt/conda/envs/torch/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

In [69]:
describ_test.columns = describ_test.columns + '_TEST'
describ_train_only.columns = describ_train_only.columns + '_TRAIN'

In [70]:
pd.set_option('display.max_rows', 150)
column_order = []
for i, j in zip(describ_test.columns, describ_train_only.columns):
    column_order.append(i)
    column_order.append(j)
describ_test.transpose().append(describ_train_only.transpose()).loc[column_order]

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
item_domain_id_TEST,551470,8243,MLB-SUPPLEMENTS,12032,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_domain_id_TRAIN,109443,5837,MLB-SUPPLEMENTS,1606,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_id_TEST,551472,NaN,NaN,NaN,NaT,NaT,259013,149412,0,129796,259092,388294,517895
item_id_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,259791,149611,1,130212,259818,389503,517866
item_title_TEST,551472,407133,Case Acrigel iPhone Galaxy Huawei Xiaomi Moto ...,164,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_title_TRAIN,109444,89624,Capa Capinha Com Logo iPhone 5 6 7 8 Plus X Xr...,82,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
site_id_TEST,551472,3,MLB,281298,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
site_id_TRAIN,109444,3,MLB,55036,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id_TEST,22859,13443,MLB6125887,28,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id_TRAIN,6809,4979,MLM15283838,18,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_family_id_TEST,66451,25983,MLB12287867,183,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_family_id_TRAIN,16733,9479,MLB12287867,79,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
count_TEST,551472,NaN,NaN,NaN,NaT,NaT,56.7289,8.64205,1,59,59,59,59
count_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,58.2568,4.17247,3,59,59,59,59
date_first_TEST,551472,59,2021-02-01 00:00:00,500404,2021-02-01,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_first_TRAIN,109444,56,2021-02-01 00:00:00,103826,2021-02-01,2021-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_last_TEST,551472,1,2021-03-31 00:00:00,551472,2021-03-31,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_last_TRAIN,109444,1,2021-03-31 00:00:00,109444,2021-03-31,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_diff_TEST,551472,NaN,NaN,NaN,NaT,NaT,55.7289,8.64205,0,58,58,58,58
date_diff_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,57.2568,4.17247,2,58,58,58,58
sold_quantity_first_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.927949,11.7502,0,0,0,0,3644
sold_quantity_first_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,1.14768,7.53307,0,0,0,1,1168
sold_quantity_last_TEST,551472,NaN,NaN,NaN,NaT,NaT,1.16318,8.15049,0,0,0,1,1982
sold_quantity_last_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.0999598,1.77009,0,0,0,0,467
sold_quantity_sum_TEST,551472,NaN,NaN,NaN,NaT,NaT,57.9207,442.711,0,10,19,40,137528
sold_quantity_sum_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,48.8425,127.863,5,17,25,44,14700
sold_quantity_mean_TEST,551472,NaN,NaN,NaN,NaT,NaT,1.00985,7.58665,0,0.170213,0.322034,0.711864,2330.98
sold_quantity_mean_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.847821,2.2107,0.20339,0.288136,0.423729,0.762712,249.153
sold_quantity_std_TEST,550920,NaN,NaN,NaN,NaT,NaT,1.47498,7.32215,0,0.471886,0.709788,1.25898,1459.8
sold_quantity_std_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,1.79367,4.62067,0.405975,0.696069,0.987354,1.64229,638.043
sold_quantity_min_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.0229259,1.5554,0,0,0,0,886
sold_quantity_min_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,1.82742e-05,0.00427481,0,0,0,0,1
sold_quantity_max_TEST,551472,NaN,NaN,NaN,NaT,NaT,6.95899,37.7742,0,2,3,6,6951
sold_quantity_max_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,8.84934,26.8559,1,3,5,8,4901
sold_quantity_mode_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.159754,3.89943,0,0,0,0,1678
sold_quantity_mode_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.00995943,0.259205,0,0,0,0,28
sold_quantity_mode_tx_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.735851,0.194442,0.0169492,0.644068,0.79661,0.864407,1
sold_quantity_mode_tx_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.749948,0.128475,0.0508475,0.694915,0.779661,0.830508,0.983051
current_price_first_TEST,551472,NaN,NaN,NaN,NaT,NaT,4648.15,1.90544e+06,0.89,48.97,119,299,1e+09
current_price_first_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,1783.26,304611,0.87,49,123.97,329,1e+08
current_price_last_TEST,551472,NaN,NaN,NaN,NaT,NaT,2628.74,1.34754e+06,0.89,48.89,119,298,1e+09
current_price_last_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,748.426,7455.81,0.87,48,119.97,302.192,1.46678e+06
current_price_sum_TEST,551472,NaN,NaN,NaN,NaT,NaT,151283,7.94913e+07,1.93,2695.71,6484.1,17403,5.9e+10
current_price_sum_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,49030.4,2.45689e+06,42,2826.1,7033.82,18331.6,8.0013e+08
current_price_mean_TEST,551472,NaN,NaN,NaN,NaT,NaT,2774.35,1.34824e+06,0.89,48.6508,118.476,299,1e+09
current_price_mean_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,853.475,41659.1,0.87,48.471,120.265,317.308,1.35615e+07
current_price_std_TEST,550920,NaN,NaN,NaN,NaT,NaT,409.6,206788,0,7.16642e-15,1.96037,9.19986,1.52499e+08
current_price_std_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,453.695,105297,0,7.16642e-15,2.29066,10.4824,3.45286e+07
current_price_min_TEST,551472,NaN,NaN,NaN,NaT,NaT,2585.07,1.34754e+06,0.89,45,106.9,289,1e+09
current_price_min_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,627.624,3436.76,0.87,44.9,109,297.5,204999
current_price_max_TEST,551472,NaN,NaN,NaN,NaT,NaT,4807.43,1.90589e+06,0.89,49.9,127,319.2,1e+09
current_price_max_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,1961.54,304843,0.87,49.99,129.99,350,1e+08
current_price_mode_TEST,551472,NaN,NaN,NaN,NaT,NaT,2756.93,1.34841e+06,0.89,49,119,299,1e+09
current_price_mode_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,701.715,4971.5,0.87,48.9,119.99,308.08,1e+06
current_price_mode_tx_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.732237,0.257756,0.0338983,0.525424,0.763158,1,1
current_price_mode_tx_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.732239,0.254291,0.0508475,0.525424,0.762712,1,1
minutes_active_first_TEST,551472,NaN,NaN,NaN,NaT,NaT,962.726,648.38,0,0,1440,1440,1440
minutes_active_first_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,1000.49,641.348,0,0,1440,1440,1440
minutes_active_last_TEST,551472,NaN,NaN,NaN,NaT,NaT,1153.29,559.689,0,1440,1440,1440,1440
minutes_active_last_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,298.295,564.807,0,0,0,0,1440
minutes_active_sum_TEST,551472,NaN,NaN,NaN,NaT,NaT,61604.5,24132.8,0,45473.8,69265.7,84074,84960
minutes_active_sum_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,48629,23035.2,51.5216,29875,49065,68498.7,84960
minutes_active_mean_TEST,551472,NaN,NaN,NaN,NaT,NaT,1080.75,389.704,0,840.812,1216.92,1426.33,1440
minutes_active_mean_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,833.969,388.857,0.873248,519.36,846.951,1170.69,1440
minutes_active_std_TEST,550920,NaN,NaN,NaN,NaT,NaT,385.107,274.901,0,50.1308,462.905,649.885,1003.59
minutes_active_std_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,555.083,179.504,0,477.726,627.548,690.784,744.197
minutes_active_min_TEST,551472,NaN,NaN,NaN,NaT,NaT,385.415,606.448,0,0,0,883.064,1440
minutes_active_min_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,56.1394,236.796,0,0,0,0,1440
minutes_active_max_TEST,551472,NaN,NaN,NaN,NaT,NaT,1418.05,171.876,0,1440,1440,1440,1440
minutes_active_max_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,1437.97,38.727,42.9479,1440,1440,1440,1440
minutes_active_mode_TEST,551472,NaN,NaN,NaN,NaT,NaT,1156.89,571.839,0,1440,1440,1440,1440
minutes_active_mode_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,851.539,707.882,0,0,1440,1440,1440
minutes_active_mode_tx_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.80573,0.174364,0.0714286,0.661017,0.847458,0.983051,1
minutes_active_mode_tx_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.711014,0.150523,0.166667,0.576271,0.694915,0.830508,1
currency_first_TEST,551472,4,REA,281298,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_first_TRAIN,109444,4,REA,55036,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_last_TEST,551472,4,REA,281298,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_last_TRAIN,109444,4,REA,55036,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_mode_TEST,551472,4,REA,281298,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_mode_TRAIN,109444,4,REA,55036,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency_mode_tx_TEST,551472,NaN,NaN,NaN,NaT,NaT,1,4.56474e-05,0.966102,1,1,1,1
currency_mode_tx_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,1,5.12333e-05,0.983051,1,1,1,1
listing_type_first_TEST,551472,2,premium,276601,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_first_TRAIN,109444,2,premium,56166,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_last_TEST,551472,2,classic,283659,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_last_TRAIN,109444,2,classic,55368,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_mode_TEST,551472,2,classic,277876,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_mode_TRAIN,109444,2,premium,54999,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type_mode_tx_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.983636,0.0714636,0.5,1,1,1,1
listing_type_mode_tx_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.984682,0.0689751,0.5,1,1,1,1
shipping_logistic_type_first_TEST,551472,3,fulfillment,404596,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_first_TRAIN,109444,3,fulfillment,84905,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_last_TEST,551472,3,fulfillment,505967,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_last_TRAIN,109444,3,fulfillment,83784,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_mode_TEST,551472,3,fulfillment,479789,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_mode_TRAIN,109444,3,fulfillment,96567,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type_mode_tx_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.916043,0.142902,0.333333,0.864407,1,1,1
shipping_logistic_type_mode_tx_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.896086,0.154963,0.333333,0.79661,1,1,1
shipping_payment_first_TEST,551472,2,paid_shipping,369742,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_first_TRAIN,109444,2,paid_shipping,69051,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_last_TEST,551472,2,paid_shipping,359044,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_last_TRAIN,109444,2,paid_shipping,68212,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_mode_TEST,551472,2,paid_shipping,374447,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_mode_TRAIN,109444,2,paid_shipping,71081,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment_mode_tx_TEST,551472,NaN,NaN,NaN,NaT,NaT,0.977907,0.086192,0.5,1,1,1,1
shipping_payment_mode_tx_TRAIN,109444,NaN,NaN,NaN,NaT,NaT,0.975671,0.090073,0.5,1,1,1,1
sold_quantity_series_TEST,551472,514917,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",14307,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sold_quantity_series_TRAIN,109444,109390,"[9, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 300)
describ_train_only.compare(describ_test).transpose()

                                       count  unique  \
item_domain_id                 self   109443    5837
                               other  551470    8243
item_id                        self   109444     NaN
                               other  551472     NaN
item_title                     self   109444   89624
                               other  551472  407133
site_id                        self   109444     NaN
                               other  551472     NaN
product_id                     self     6809    4979
                               other   22859   13443
product_family_id              self    16733    9479
                               other   66451   25983
count                          self   109444     NaN
                               other  551472     NaN
date_first                     self   109444      56
                               other  551472      59
date_last                      self   109444     NaN
                               other  551472     NaN
date_diff                      self   109444     NaN
                               other  551472     NaN
sold_quantity_first            self   109444     NaN
                               other  551472     NaN
sold_quantity_last             self   109444     NaN
                               other  551472     NaN
sold_quantity_sum              self   109444     NaN
                               other  551472     NaN
sold_quantity_mean             self   109444     NaN
                               other  551472     NaN
sold_quantity_std              self   109444     NaN
                               other  550920     NaN
sold_quantity_min              self   109444     NaN
                               other  551472     NaN
sold_quantity_max              self   109444     NaN
                               other  551472     NaN
sold_quantity_mode             self   109444     NaN
                               other  551472     NaN
sold_quantity_mode_tx          self   109444     NaN
                               other  551472     NaN
current_price_first            self   109444     NaN
                               other  551472     NaN
current_price_last             self   109444     NaN
                               other  551472     NaN
current_price_sum              self   109444     NaN
                               other  551472     NaN
current_price_mean             self   109444     NaN
                               other  551472     NaN
current_price_std              self   109444     NaN
                               other  550920     NaN
current_price_min              self   109444     NaN
                               other  551472     NaN
current_price_max              self   109444     NaN
                               other  551472     NaN
current_price_mode             self   109444     NaN
                               other  551472     NaN
current_price_mode_tx          self   109444     NaN
                               other  551472     NaN
minutes_active_first           self   109444     NaN
                               other  551472     NaN
minutes_active_last            self   109444     NaN
                               other  551472     NaN
minutes_active_sum             self   109444     NaN
                               other  551472     NaN
minutes_active_mean            self   109444     NaN
                               other  551472     NaN
minutes_active_std             self   109444     NaN
                               other  550920     NaN
minutes_active_min             self   109444     NaN
                               other  551472     NaN
minutes_active_max             self   109444     NaN
                               other  551472     NaN
minutes_active_mode            self   109444     NaN
                               other  551472     NaN
minutes_active_mode_tx         self   109444     NaN
                               other  551472     NaN
currency_first                 self   109444     NaN
                               other  551472     NaN
currency_last                  self   109444     NaN
                               other  551472     NaN
currency_mode                  self   109444     NaN
                               other  551472     NaN
currency_mode_tx               self   109444     NaN
                               other  551472     NaN
listing_type_first             self   109444     NaN
                               other  551472     NaN
listing_type_last              self   109444     NaN
                               other  551472     NaN
listing_type_mode              self   109444     NaN
                               other  551472     NaN
listing_type_mode_tx           self   109444     NaN
                               other  551472     NaN
shipping_logistic_type_first   self   109444     NaN
                               other  551472     NaN
shipping_logistic_type_last    self   109444     NaN
                               other  551472     NaN
shipping_logistic_type_mode    self   109444     NaN
                               other  551472     NaN
shipping_logistic_type_mode_tx self   109444     NaN
                               other  551472     NaN
shipping_payment_first         self   109444     NaN
                               other  551472     NaN
shipping_payment_last          self   109444     NaN
                               other  551472     NaN
shipping_payment_mode          self   109444     NaN
                               other  551472     NaN
shipping_payment_mode_tx       self   109444     NaN
                               other  551472     NaN
sold_quantity_series           self   109444  109390
                               other  551472  514917

                                                                                    top  \
item_domain_id                 self                                                 NaN
                               other                                                NaN
item_id                        self                                                 NaN
                               other                                                NaN
item_title                     self   Capa Capinha Com Logo iPhone 5 6 7 8 Plus X Xr...
                               other  Case Acrigel iPhone Galaxy Huawei Xiaomi Moto ...
site_id                        self                                                 NaN
                               other                                                NaN
product_id                     self                                         MLM15283838
                               other                                         MLB6125887
product_family_id              self                                                 NaN
                               other                                                NaN
count                          self                                                 NaN
                               other                                                NaN
date_first                     self                                                 NaN
                               other                                                NaN
date_last                      self                                                 NaN
                               other                                                NaN
date_diff                      self                                                 NaN
                               other                                                NaN
sold_quantity_first            self                                                 NaN
                               other                                                NaN
sold_quantity_last             self                                                 NaN
                               other                                                NaN
sold_quantity_sum              self                                                 NaN
                               other                                                NaN
sold_quantity_mean             self                                                 NaN
                               other                                                NaN
sold_quantity_std              self                                                 NaN
                               other                                                NaN
sold_quantity_min              self                                                 NaN
                               other                                                NaN
sold_quantity_max              self                                                 NaN
                               other                                                NaN
sold_quantity_mode             self                                                 NaN
                               other                                                NaN
sold_quantity_mode_tx          self                                                 NaN
                               other                                                NaN
current_price_first            self                                                 NaN
                               other                                                NaN
current_price_last             self                                                 NaN
                               other                                                NaN
current_price_sum              self                                                 NaN
                               other                                                NaN
current_price_mean             self                                                 NaN
                               other                                                NaN
current_price_std              self                                                 NaN
                               other                                                NaN
current_price_min              self                                                 NaN
                               other                                                NaN
current_price_max              self                                                 NaN
                               other                                                NaN
current_price_mode             self                                                 NaN
                               other                                                NaN
current_price_mode_tx          self                                                 NaN
                               other                                                NaN
minutes_active_first           self                                                 NaN
                               other                                                NaN
minutes_active_last            self                                                 NaN
                               other                                                NaN
minutes_active_sum             self                                                 NaN
                               other                                                NaN
minutes_active_mean            self                                                 NaN
                               other                                                NaN
minutes_active_std             self                                                 NaN
                               other                                                NaN
minutes_active_min             self                                                 NaN
                               other                                                NaN
minutes_active_max             self                                                 NaN
                               other                                                NaN
minutes_active_mode            self                                                 NaN
                               other                                                NaN
minutes_active_mode_tx         self                                                 NaN
                               other                                                NaN
currency_first                 self                                                 NaN
                               other                                                NaN
currency_last                  self                                                 NaN
                               other                                                NaN
currency_mode                  self                                                 NaN
                               other                                                NaN
currency_mode_tx               self                                                 NaN
                               other                                                NaN
listing_type_first             self                                                 NaN
                               other                                                NaN
listing_type_last              self                                                 NaN
                               other                                                NaN
listing_type_mode              self                                             premium
                               other                                            classic
listing_type_mode_tx           self                                                 NaN
                               other                                                NaN
shipping_logistic_type_first   self                                                 NaN
                               other                                                NaN
shipping_logistic_type_last    self                                                 NaN
                               other                                                NaN
shipping_logistic_type_mode    self                                                 NaN
                               other                                                NaN
shipping_logistic_type_mode_tx self                                                 NaN
                               other                                                NaN
shipping_payment_first         self                                                 NaN
                               other                                                NaN
shipping_payment_last          self                                                 NaN
                               other                                                NaN
shipping_payment_mode          self                                                 NaN
                               other                                                NaN
shipping_payment_mode_tx       self                                                 NaN
                               other                                                NaN
sold_quantity_series           self   [9, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                               other  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

                                        freq       last         mean  \
item_domain_id                 self     1606        NaT          NaN
                               other   12032        NaT          NaN
item_id                        self      NaN        NaT       259791
                               other     NaN        NaT       259013
item_title                     self       82        NaT          NaN
                               other     164        NaT          NaN
site_id                        self    55036        NaT          NaN
                               other  281298        NaT          NaN
product_id                     self       18        NaT          NaN
                               other      28        NaT          NaN
product_family_id              self       79        NaT          NaN
                               other     183        NaT          NaN
count                          self      NaN        NaT      58.2568
                               other     NaN        NaT      56.7289
date_first                     self   103826 2021-03-29          NaN
                               other  500404 2021-03-31          NaN
date_last                      self   109444        NaT          NaN
                               other  551472        NaT          NaN
date_diff                      self      NaN        NaT      57.2568
                               other     NaN        NaT      55.7289
sold_quantity_first            self      NaN        NaT      1.14768
                               other     NaN        NaT     0.927949
sold_quantity_last             self      NaN        NaT    0.0999598
                               other     NaN        NaT      1.16318
sold_quantity_sum              self      NaN        NaT      48.8425
                               other     NaN        NaT      57.9207
sold_quantity_mean             self      NaN        NaT     0.847821
                               other     NaN        NaT      1.00985
sold_quantity_std              self      NaN        NaT      1.79367
                               other     NaN        NaT      1.47498
sold_quantity_min              self      NaN        NaT  1.82742e-05
                               other     NaN        NaT    0.0229259
sold_quantity_max              self      NaN        NaT      8.84934
                               other     NaN        NaT      6.95899
sold_quantity_mode             self      NaN        NaT   0.00995943
                               other     NaN        NaT     0.159754
sold_quantity_mode_tx          self      NaN        NaT     0.749948
                               other     NaN        NaT     0.735851
current_price_first            self      NaN        NaT      1783.26
                               other     NaN        NaT      4648.15
current_price_last             self      NaN        NaT      748.426
                               other     NaN        NaT      2628.74
current_price_sum              self      NaN        NaT      49030.4
                               other     NaN        NaT       151283
current_price_mean             self      NaN        NaT      853.475
                               other     NaN        NaT      2774.35
current_price_std              self      NaN        NaT      453.695
                               other     NaN        NaT        409.6
current_price_min              self      NaN        NaT      627.624
                               other     NaN        NaT      2585.07
current_price_max              self      NaN        NaT      1961.54
                               other     NaN        NaT      4807.43
current_price_mode             self      NaN        NaT      701.715
                               other     NaN        NaT      2756.93
current_price_mode_tx          self      NaN        NaT     0.732239
                               other     NaN        NaT     0.732237
minutes_active_first           self      NaN        NaT      1000.49
                               other     NaN        NaT      962.726
minutes_active_last            self      NaN        NaT      298.295
                               other     NaN        NaT      1153.29
minutes_active_sum             self      NaN        NaT        48629
                               other     NaN        NaT      61604.5
minutes_active_mean            self      NaN        NaT      833.969
                               other     NaN        NaT      1080.75
minutes_active_std             self      NaN        NaT      555.083