In [1]:
import json
import os
import pandas as pd
import datetime

In [2]:
DATASET_FOLDER = "./dataset"
train_data = os.path.join(DATASET_FOLDER, 'train_data.parquet')
item_data = os.path.join(DATASET_FOLDER, 'items_static_metadata_full.jl')
test_data = os.path.join(DATASET_FOLDER, 'test_data.csv')

# Train Data

In [3]:
df_train = pd.read_parquet(train_data, engine='fastparquet')

In [4]:
df_train

,sku,date,sold_quantity,current_price,currency,listing_type,shipping_logistic_type,shipping_payment,minutes_active
0,464801,2021-02-01,0,156.78,REA,classic,fulfillment,free_shipping,1440.000000
1,464801,2021-02-02,0,156.78,REA,classic,fulfillment,free_shipping,1440.000000
2,464801,2021-02-03,0,156.78,REA,classic,fulfillment,free_shipping,1440.000000
3,464801,2021-02-04,0,156.78,REA,classic,fulfillment,free_shipping,1440.000000
4,464801,2021-02-05,1,156.78,REA,classic,fulfillment,free_shipping,1440.000000
...,...,...,...,...,...,...,...,...,...
37660274,129187,2021-03-31,0,22057.00,ARG,classic,drop_off,free_shipping,267.710767
37660275,6707,2021-03-31,0,26999.00,ARG,classic,cross_docking,free_shipping,266.083333
37660276,170355,2021-03-31,0,3400.00,ARG,classic,drop_off,paid_shipping,0.252633
37660277,246568,2021-03-31,0,6289.00,ARG,classic,fulfillment,free_shipping,135.416667
37660278,49718,2021-03-31,0,1990.00,ARG,classic,drop_off,paid_shipping,88.033333

In [6]:
df_train.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sku,3.76603e+07,NaN,NaN,NaN,330374,190792,0,165125,330380,495596,660915
date,37660279,59,2021-03-31,660916,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sold_quantity,3.76603e+07,NaN,NaN,NaN,0.990093,9.98954,0,0,0,1,6951
current_price,3.76603e+07,NaN,NaN,NaN,2357.78,1.26391e+06,0.87,48.7,119,298.59,1e+09
currency,37660279,4,REA,19229164,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listing_type,37660279,2,classic,18860849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_logistic_type,37660279,3,fulfillment,32390495,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shipping_payment,37660279,2,paid_shipping,24947755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
minutes_active,3.76603e+07,NaN,NaN,NaN,1043.41,630.245,0,0,1440,1440,1440

In [11]:
df_train.isna().sum()

sku                       0
date                      0
sold_quantity             0
current_price             0
currency                  0
listing_type              0
shipping_logistic_type    0
shipping_payment          0
minutes_active            0
dtype: int64

In [15]:
df_train['sku'].value_counts()

32752     59
371537    59
76737     59
175025    59
142241    59
          ..
658025     1
108140     1
297905     1
351752     1
504759     1
Name: sku, Length: 660916, dtype: int64

In [41]:
print("df_train['date'].max()", df_train['date'].max())
print("df_train['date'].min()", df_train['date'].min())
datetime.date(*[int(i) for i in df_train['date'].max().split('-')]) - datetime.date(*[int(i) for i in df_train['date'].min().split('-')])

df_train['date'].max() 2021-03-31
df_train['date'].min() 2021-02-01

datetime.timedelta(58)

In [47]:
df_train['sold_quantity'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

0       73.16%
1        13.2%
2        5.36%
3        2.58%
4        1.49%
         ...
1105      0.0%
1102      0.0%
1101      0.0%
1097      0.0%
6951      0.0%
Name: sold_quantity, Length: 1396, dtype: object

In [48]:
df_train['current_price'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

199.00     1.06%
99.00       1.0%
29.90      0.75%
39.90      0.74%
298.00     0.71%
           ...
3160.50     0.0%
2087.58     0.0%
2072.17     0.0%
2089.58     0.0%
3025.36     0.0%
Name: current_price, Length: 140924, dtype: object

In [51]:
df_train['currency'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

REA    51.06%
MEX    40.25%
ARG     8.69%
DOL      0.0%
Name: currency, dtype: object

In [52]:
df_train['listing_type'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

classic    50.08%
premium    49.92%
Name: listing_type, dtype: object

In [53]:
df_train['shipping_logistic_type'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

fulfillment      86.01%
drop_off          7.34%
cross_docking     6.65%
Name: shipping_logistic_type, dtype: object

In [54]:
df_train['shipping_payment'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

paid_shipping    66.24%
free_shipping    33.76%
Name: shipping_payment, dtype: object

In [55]:
df_train['minutes_active'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

1440.000000    69.9%
0.000000       25.4%
858.066667      0.0%
570.200000      0.0%
1437.233650     0.0%
               ...
553.654750      0.0%
1325.248250     0.0%
819.589417      0.0%
435.938633      0.0%
1077.916667     0.0%
Name: minutes_active, Length: 1009253, dtype: object

In [71]:
df_train['sku'].value_counts().describe()

count    660916.000000
mean         56.981945
std           8.094631
min           1.000000
25%          59.000000
50%          59.000000
75%          59.000000
max          59.000000
Name: sku, dtype: float64

In [72]:
df_train['sku'].value_counts().value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

59    91.42%
56     0.37%
58     0.33%
57     0.29%
55     0.26%
49     0.26%
50     0.25%
48     0.24%
52     0.23%
51     0.23%
36     0.23%
43     0.22%
27     0.22%
35     0.22%
42     0.21%
37      0.2%
38      0.2%
29      0.2%
28     0.19%
44     0.19%
41     0.18%
30     0.18%
45     0.18%
34     0.18%
31     0.18%
21     0.16%
22     0.16%
24     0.15%
54     0.14%
23     0.14%
20     0.13%
14     0.13%
10     0.12%
16     0.12%
15     0.12%
9      0.11%
17     0.11%
13      0.1%
8       0.1%
47      0.1%
7      0.09%
6      0.09%
2      0.08%
1      0.08%
3      0.08%
53     0.08%
40     0.08%
33     0.08%
26     0.07%
19     0.06%
39     0.06%
32     0.06%
25     0.05%
46     0.05%
12     0.05%
18     0.04%
5      0.03%
11     0.03%
4      0.02%
Name: sku, dtype: object

# Item data

In [75]:
with open(item_data, 'r') as f:
    i = 0
    for line in f:
        print(json.loads(line))
        i += 1
        if i == 5:
            break

{'item_domain_id': 'MLB-SNEAKERS', 'item_id': 492155, 'item_title': 'Tênis Masculino Olympikus Cyber Barato Promoçao', 'site_id': 'MLB', 'sku': 0, 'product_id': None, 'product_family_id': 'MLB15832732'}
{'item_domain_id': 'MLB-SURFBOARD_RACKS', 'item_id': 300279, 'item_title': 'Suporte Rack Prancha Parede C/ Regulagem Horizontal Vertical', 'site_id': 'MLB', 'sku': 1, 'product_id': None, 'product_family_id': None}
{'item_domain_id': 'MLM-NECKLACES', 'item_id': 69847, 'item_title': '5 Collares Plateados Dama Gargantilla Choker - Onda Shop', 'site_id': 'MLM', 'sku': 2, 'product_id': None, 'product_family_id': None}
{'item_domain_id': 'MLM-RINGS', 'item_id': 298603, 'item_title': 'Lindo Anillo De Bella Crepusculo Twilight Promesa Amor Novia', 'site_id': 'MLM', 'sku': 3, 'product_id': None, 'product_family_id': None}
{'item_domain_id': 'MLB-WEBCAMS', 'item_id': 345949, 'item_title': 'Webcam Com Microfone Hd 720p Knup Youtube Pc Video Conf Live', 'site_id': 'MLB', 'sku': 4, 'product_id': None, 'product_family_id': None}

In [6]:
df_item = pd.read_json(item_data, lines=True)

In [78]:
df_item

,item_domain_id,item_id,item_title,site_id,sku,product_id,product_family_id
0,MLB-SNEAKERS,492155,Tênis Masculino Olympikus Cyber Barato Promoçao,MLB,0,None,MLB15832732
1,MLB-SURFBOARD_RACKS,300279,Suporte Rack Prancha Parede C/ Regulagem Horiz...,MLB,1,None,None
2,MLM-NECKLACES,69847,5 Collares Plateados Dama Gargantilla Choker -...,MLM,2,None,None
3,MLM-RINGS,298603,Lindo Anillo De Bella Crepusculo Twilight Prom...,MLM,3,None,None
4,MLB-WEBCAMS,345949,Webcam Com Microfone Hd 720p Knup Youtube Pc V...,MLB,4,None,None
...,...,...,...,...,...,...,...
660911,MLB-CELLPHONE_PARTS,320792,2 Parafuso Pentalobe Torx iPhone 5 5c 5s 6 6s ...,MLB,660911,None,None
660912,MLM-AUTOMOTIVE_EMBLEMS,90441,Emblema Circular Wolfsburg Edition 5cm,MLM,660912,None,None
660913,MLB-SOFA_AND_FUTON_COVERS,202580,Kit Capa De Sofá Coladinha Jogo 2e3 Lugares Ma...,MLB,660913,None,None
660914,MLB-SNEAKERS,490874,Calçado Sapatênis Clássico Baltic 234 Ollie,MLB,660914,None,None
660915,MLM-SURGICAL_MASKS,423179,Cubrebocas Kn95 20 Piezas Pack Válvula Geométr...,MLM,660915,None,None

In [76]:
df_item.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
item_domain_id,660913,8408,MLB-SUPPLEMENTS,13638,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_id,660916,NaN,NaN,NaN,259141,149446,0,129868,259206,388517,517895
item_title,660916,478175,Case Acrigel iPhone Galaxy Huawei Xiaomi Moto ...,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN
site_id,660916,3,MLB,336334,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sku,660916,NaN,NaN,NaN,330458,190790,0,165229,330458,495686,660915
product_id,29668,15863,MLB6125887,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_family_id,83184,29600,MLB12287867,262,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df_item.isna().sum()

item_domain_id            3
item_id                   0
item_title                0
site_id                   0
sku                       0
product_id           631248
product_family_id    577732
dtype: int64

In [7]:
df_item['item_domain_id'].value_counts()

MLB-SUPPLEMENTS                 13638
MLM-CELLPHONE_COVERS            10333
MLB-HAIR_TREATMENTS              4655
MLM-T_SHIRTS                     4526
MLM-HEADPHONES                   4462
                                ...
MLM-INVISIBLE_PET_FENCES            1
MLA-ESTHETIC_ELECTROPORATORS        1
MLM-ANTI_STATIC_KITS                1
MLA-DUSTPANS                        1
MLB-BICYCLE_SPOKES                  1
Name: item_domain_id, Length: 8408, dtype: int64

In [80]:
df_item['item_domain_id'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

MLB-SUPPLEMENTS                          2.06%
MLM-CELLPHONE_COVERS                     1.56%
MLB-HAIR_TREATMENTS                       0.7%
MLM-T_SHIRTS                             0.68%
MLM-HEADPHONES                           0.68%
                                         ...
MLM-PISCOS                                0.0%
MLA-CHALKBOARD_AND_WHITEBOARD_ERASERS     0.0%
MLA-DREAMCATCHERS                         0.0%
MLA-ESTHETIC_ELECTROPORATORS              0.0%
MLA-KITCHEN_FUNNELS                       0.0%
Name: item_domain_id, Length: 8408, dtype: object

In [82]:
df_item['site_id'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

MLB    50.89%
MLM    40.23%
MLA     8.88%
Name: site_id, dtype: object

In [85]:
df_item['item_id'].value_counts()

184358    167
150336    128
288936    125
502053    113
200460    106
         ...
15179       1
844         1
2893        1
4942        1
0           1
Name: item_id, Length: 517896, dtype: int64

In [97]:
(df_item['product_id'].value_counts(dropna=False)/len(df_item)).mul(100).round(2).astype(str) + '%'

NaN            95.51%
MLB6125887      0.01%
MLM10448369      0.0%
MLM15283838      0.0%
MLM15289414      0.0%
                ...
MLA16069915      0.0%
MLB13187255      0.0%
MLM17411322      0.0%
MLB16103225      0.0%
MLM15448636      0.0%
Name: product_id, Length: 15864, dtype: object

In [96]:
(df_item['product_family_id'].value_counts(dropna=False)/len(df_item)).mul(100).round(2).astype(str) + '%'

NaN            87.41%
MLB12287867     0.04%
MLB12565471     0.02%
MLB15982834     0.02%
MLA14293885     0.02%
                ...
MLB16856499      0.0%
MLB13248906      0.0%
MLB12396611      0.0%
MLA9210968       0.0%
MLA8752531       0.0%
Name: product_family_id, Length: 29601, dtype: object

In [99]:
df_item['item_title'].value_counts()

Case Acrigel iPhone Galaxy Huawei Xiaomi Moto LG Airbag Gruesa Anticaida Uso Rudo Resistente Dama Hombre Caballero Funda    167
Tênis Masculino Feminino Roud Casual Esportivo Caminhada Off                                                                143
Blister Pestañas Nagaraku Aplicacion Mink 1x1 1pz Una Medida                                                                140
Correa Para Apple Watch  Silicon Lisa Colores Serie 5 4 3 2                                                                 125
Extensible Silicón Correa Lisa Para Apple Watch Serie 1 2 3 4                                                               113
                                                                                                                           ...
Harina Masa Para Pizza Fácil Crust Instantánea Betty Crocker                                                                  1
Kit Embrague P/ Renault Express Clio R19 1.9 Diesel                                                                           1
Soporte Hidraulico Civic 1.8 2006 2007 2008 2009 2010 2011                                                                    1
Nutrifeet Creme Nutritivo Para Pés Rachadura Pharma 100g                                                                      1
Tarjeta Madre Biostar H410mh Lga 1200 Chipset H410 Ddr4                                                                       1
Name: item_title, Length: 478175, dtype: int64

# Test Data

In [4]:
df_test = pd.read_csv(test_data)

In [5]:
df_test['sku'] = df_test['sku'].astype(str)

In [6]:
df_test

           sku  target_stock
0       464801             3
1       645793             4
2        99516             8
3       538100             8
4       557191            10
...        ...           ...
551467  129187             8
551468    6707            30
551469  170355             3
551470  246568             2
551471   49718            20

[551472 rows x 2 columns]

In [7]:
df_test.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sku,551472,551472,633645,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
target_stock,551472,NaN,NaN,NaN,18.0695,122.711,1,3,6,13,32710

In [8]:
df_test['target_stock'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

1       13.29%
2       10.73%
3         9.0%
4        7.79%
5        6.62%
         ...
2201      0.0%
3408      0.0%
848       0.0%
1177      0.0%
2047      0.0%
Name: target_stock, Length: 1295, dtype: object

In [ ]:
eduardo augsuto santos garcia